# OS
Thumbs.db
.DS_Store

# Editor
.vscode/
.idea/

# Logs
*.log

# Temp
*.tmp
*.bak

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/

# Build
dist/

# Local artifacts
artifacts/

# Environment
.env
.env.example
.env.local
.env.*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
